{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $title := $block.content.title | emojify | $page.RenderString }}
{{ $text := $block.content.text | emojify | $page.RenderString }}

<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-0 lg:mb-0 flex flex-col justify-center mx-auto">
      {{ with $title }}
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white text-center">{{.}}</h2>
      {{ end }}
      {{ with $text }}
      <p class="text-gray-500 sm:text-xl dark:text-gray-400 text-center">{{.}}</p>
      {{ end }}
    </div>
    
    <!-- <div class="mt-8 md:mt-12 space-y-4 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"> -->
    <div class="mt-8 md:mt-12 space-y-4 md:grid md:grid-cols-3 md:grid-template-columns:1fr_3fr_1fr] md:gap-12 md:space-y-0">
      {{ range $block.content.items }}
        <div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">{{ .name | $page.RenderString }}</h3>
          <p class="text-gray-500 dark:text-gray-400 text-justify">{{ .description | $page.RenderString }}</p>
        </div>
      {{ end }}
    </div>
    <div class="mt-8 md:mt-12 space-y-4 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      {{ range $block.content.items2 }}
        <div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">{{ .name | $page.RenderString }}</h3>
          <div class="text-gray-500 dark:text-gray-400">{{ .description | $page.RenderString }}</div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

